<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class='col-md-6 col-md-offset-3'>
        <h1 class="text-center">コメントを記入してください</h1>
        <%= form_for @comment do |f| %>
         
          <%= f.hidden_field :topic_id, value: @comment.topic_id %>
          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
          <% if logged_in? %>
            <%= f.submit 'コメント', class: 'btn btn-black btn-block' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
